* {
    padding: 0;
    margin: 0;


}

.main{
  background-color: #105E26;
  font-family: monospace;
  color:#000;
  width 300px;
  boarder: double;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  list-style: none;

}
h1{
  text-align: center;
  font-family: monospace;
}

ul{
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-family: Bradley Hand, Georgia, serif;
}

li{
  text-indent: 0.5rem;
  font-family: Bradley Hand, Georgia, serif;
}
footer{
  background-color: #CC5500;
  text-color: #000;
  padding-top: .5rem;
  padding-bottom: .5rem;
  text-indent: 2.5rem;
  font-family: monospace;
}
header{
  background-color: #CC5500;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

img{
  border: solid;
  border-color: #CC5500;
}

p{
    color: #FFFFFF;
    font-style: italic;
 }
